version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
      - /app/node_modules
    restart: always

  frontend:
    build: ./spit-achievements-hub-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
